*.aux
cabal-dev
cabal.project.local
.cabal-sandbox/
cabal.sandbox.config
*.chi
*.chs.h
dist
dist-*
*.dyn_hi
*.dyn_o
.*env
*.eventlog
*.hi
*.hp
.hpc
.hsenv
.HTF/
.HTF/dist
*.o
*.prof
.stack-work
.virthualenv
TAGS
*.ps
ngx-top
ngx-top-gen
/result
/TODO.md
